body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0C10; 
    color: #66FCF1; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #008080; 
    color: #fff; 
    padding: 15px 0;
    text-align: center;
}

.navbar a {
    color: #fff; 
    text-decoration: none;
    margin: 0 15px;
}

p {
    color: #C5C6C7;
}


.section {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.photo img {
    height: 100%;
}

.text {
    width: 60%;
}

.text p {
    color: #C5C6C7; 
}

.text strong {
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    flex-wrap: wrap;
    gap: 20px;
}

.project-item {
    text-align: center;
    width: 300px;
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.project-item img {
    width: 100%; 
    height: 200px;
    object-fit: cover; 
    margin-bottom: 10px;
}

.project-item h3 {
    margin-bottom: 10px;
}

.project-item .description {
    margin-bottom: 10px;
}

.project-button {
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}

.project-button a {
    color: #fff;
    text-decoration: none;
}

.project-button:hover {
    background-color: #005454;
}


.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.contact-links {
    display: flex;
    gap: 20px;
}

.contact-item {
    text-align: center;
}

.contact-links img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.contact-links p {
    color: #C5C6C7;
    margin: 0;
    text-align: center;
}

footer {
    background-color: #008080;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; 
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .text {
        font-size: 14px; 
    }

    .photo img {
        max-width: 100%; 
        height: auto; 
    }
}